* {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

head {
  display: none;
}

body {
  align-items: center;
}

.LoginCard {
  background-color: lightgrey;
  width: 40vw;
  padding: 4px 40px;
}

.FakeLink {
  color: blue;
  cursor: pointer;
}
