.LoginCard {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  width: 40vw;
  padding: 10px;
  margin: 10% 0%;
  align-items: center;
}

.FakeLink {
  color: blue;
  cursor: pointer;
  align-items: center;
}

.FakeLink:hover {
  text-decoration: underline;
}

.ForceLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.ForceWide {
  width: 98%;
}

.LoginButton {
  color: white;
  background-color: #438b88;
  font-size: 100%;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
